name: Build

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            target: x86_64-unknown-linux-musl
            artifact: x86_64-linux-feroxagent
          - os: ubuntu-latest
            target: aarch64-unknown-linux-gnu
            artifact: aarch64-linux-feroxagent
          - os: macos-latest
            target: x86_64-apple-darwin
            artifact: x86_64-macos-feroxagent
          - os: macos-latest
            target: aarch64-apple-darwin
            artifact: aarch64-macos-feroxagent
          - os: windows-latest
            target: x86_64-pc-windows-msvc
            artifact: x86_64-windows-feroxagent

    steps:
      - uses: actions/checkout@v4

      - name: Cache cargo & target directories
        uses: Swatinem/rust-cache@v2

      - name: Build binary
        uses: houseabsolute/actions-rust-cross@v0
        with:
          command: build
          target: ${{ matrix.target }}
          args: "--locked --release"
          strip: true
          toolchain: stable

      - name: Upload artifact (Unix)
        if: runner.os != 'Windows'
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.artifact }}
          path: target/${{ matrix.target }}/release/feroxagent

      - name: Upload artifact (Windows)
        if: runner.os == 'Windows'
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.artifact }}
          path: target/${{ matrix.target }}/release/feroxagent.exe
